html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}



body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 0px 25px;
}

.logo {
    width: 150px;
    text-align: center;
    font-weight: 600;
}

.planet {
    color: #03A696;
}

.skin {
    color: #F2A7B5;
}
.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: #2694BF;
}

.user {
    display: flex;
    flex-direction: row;
    color: #2694BF;
    
}

.user li {
    padding-right: 20px;
}

.user li:hover {
    color: #F2A7B5;
}

.menu li {
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.menu li:hover {
    color: #F2A7B5;
}

.fa-bars:hover {
    color: #F2A7B5;
}

.menu a {
    padding-right: 5px;
}

li {
    list-style: none;
}

.imagen {
    width: 100%;
    
}

img {
    width: 100%;
}

h1 {
    color: white;
    font-weight: 400;
    font-size: 30px;
    padding-left: 20px;
    left: 1%;
    top: 500px;
    position: absolute;
}

.gift {
    background-color: #F2A7B5;
    border-radius: 45px;
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    top: -75px;
    right: -1%;
    
}
.gift p {
    padding-left: 10px;
}

.chat {
    width: 50px;
    height: 50px;
    background-color: #F2A7B5;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    position: relative;
    left: 95%;
    top: -125px;
}

.chat p {
    font-size: 12px;
    width: 15px;
    height: 15px;
    background-color: red;
    position: absolute;
    top: -12px;
    left: 35px;
    text-align: center;
    border-radius: 25px;
}

@media (max-width: 480px) {
    header {
        padding: 0px 15px;
        justify-content: space-between;
        
    }
    .menu ul, .menu2 {
        display: none;
    }
    
    .fa-bars {
        display: flex;
        align-items: center;
        order: 1;
    }
    .logo {
        order: 2;
    }

    .user {
        order: 3;
    }

    img {
        width: 100%;
    }

    .chat  {
        left: 88%;}
}

@media (min-width:481px) {
    header {
        padding: 0px 5px;
        font-size: 15px;
    }
    


    .menu ul {
        display: none;
    }

    .fa-bars {
        display: none;
    }
    img {
        width: 100%;
    }

    .chat  {
        left: 88%;}

}

@media (min-width: 768px) {
    .menu2 {
        display: none;
    }
    .fa-bars {
        display: none;
    }
    img {
        width: 100%;
    }
    .chat  {
        left: 93%;}

    .menu ul {
        display: contents;
    }

    


    
}